@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
*,
* ::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: scroll;
  font-family: "Lato", sans-serif, sans-serif;
}

.srd-demo-canvas {
  height: 100%;
  min-height: 45vh;
  background-color: #f2f2f2 !important;
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      rgba(102, 102, 102, 0.05) 25%,
      rgba(102, 102, 102, 0.05) 26%,
      transparent 27%,
      transparent 74%,
      rgba(102, 102, 102, 0.05) 75%,
      rgba(102, 102, 102, 0.05) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      rgba(102, 102, 102, 0.05) 25%,
      rgba(102, 102, 102, 0.05) 26%,
      transparent 27%,
      transparent 74%,
      rgba(102, 102, 102, 0.05) 75%,
      rgba(102, 102, 102, 0.05) 76%,
      transparent 77%,
      transparent
    );
  background-size: 50px 50px;
}

.srd-node {
  position: absolute;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  user-select: none;
  cursor: move;
  pointer-events: all;
  /* border: 0.2rem solid black; */
  border-radius: 0.3rem;

  min-width: 3rem;
}
.srd-default-link path {
  stroke: #666;
}
/* .srd-node--selected {
    border: 0.2rem solid #00c0ff; } */
.srd-node > .srd-default-node {
  border-width: 0;
  border-radius: 0;
}

/* Filter Node */

.widget-container {
  width: 15rem;
}
.widget-container .srd-port {
  width: 12px;
  height: 12px;
  background-color: #c8c8c8;
}
.widget-container .widget-header {
  width: 100%;
  height: 24px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.widget-container .widget-header .left-port {
  float: left;
  width: 20%;
}
.widget-container .widget-header .left-port .srd-port {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.widget-container .widget-header .scene {
  float: left;
  text-align: center;
  width: 60%;
}
.widget-container .widget-header .right-port {
  float: right;
  width: 20%;
}
.widget-container .widget-header .right-port .srd-port {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  top: 10px;
}
.widget-container .widget-content .widget-id {
  width: 100%;
  height: 24px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.widget-container .widget-content .widget-id .widget-id-label {
  margin-left: 10%;
  margin-right: 2%;
  min-width: 28%;
  max-width: 28%;
  float: left;
  text-align: right;
}
.widget-container .widget-content .widget-id .widget-id-input {
  margin-right: 20%;
  min-width: 40%;
  max-width: 40%;
  float: left;
}
.widget-container .widget-content .widget-next {
  width: 100%;
  height: 24px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.widget-container .widget-content .widget-next .srd-port {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.widget-container .widget-content .widget-next .widget-next-label {
  margin-left: 10%;
  margin-right: 2%;
  min-width: 28%;
  max-width: 28%;
  float: left;
  text-align: right;
}
.widget-container .widget-content .widget-next .widget-next-input {
  min-width: 40%;
  max-width: 40%;
  float: left;
}
.widget-container .widget-content .widget-hotspot {
  width: 100%;
  height: 24px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.widget-container .widget-content .widget-hotspot .srd-port {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  float: left;
}
.widget-container .widget-content .widget-hotspot .widget-hotspot-del {
  float: left;
  margin-left: 1%;
}
.widget-container .widget-content .widget-hotspot .widget-hotspot-label {
  margin-right: 2%;
  min-width: 28%;
  max-width: 28%;
  float: left;
  text-align: right;
}
.widget-container .widget-content .widget-hotspot .widget-hotspot-input {
  min-width: 41%;
  max-width: 41%;
  float: left;
}
.widget-container .widget-content .widget-add {
  display: block;
  margin: 0 auto;
  width: 10%;
  padding-top: 4px;
  padding-bottom: 4px;
}
.widget-container .widget-content .widget-add button {
  text-align: center;
}
